body {
    margin: 0;
}

.site-header {
    border: 0.07rem solid;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: beige;
}

.site-nav__structure {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-button {
    width: 10rem;
    height: 1.5rem;
    background-color: blue;
    color:azure;
    border-radius: 0.5rem;
}

.site-h1 {
    margin-left: 2rem;
    margin-top: 2rem;
}

.site-article__subtitle {
    margin-left: 2rem;
    font-size: x-large;
    margin-top: 5rem;
}

.site-article__img {
    margin-left: 5rem;
    border-radius: 5rem;
}

.hero-article {
    display: flex;
    width: 100%;
}

.article-text {
    display: flex;
    flex-direction: column;
}

.article-buttons {
    margin-left: 15rem;
    margin-top: 1rem;
}

.site-button:hover {
    filter: brightness(0.7);
}

.site-article__h2 {
    margin-left: 2rem;
}

.site-article {
    margin-left: 2rem;
    font-size: larger;
}
.site-table__aboutMe {
    margin-left: 2rem;
    border: 0.15rem solid;
}

.table-tr__border {
    border: 0.15rem solid;
}